.pages_main
  height 465px
  display: flex
  align-items: center;   // 垂直居中，针对的是mycontainer类下面的子元素，不包含“孙子”元素
  justify-content: center; // 水平居中，针对的是mycontainer类下面的子元素，不包含“孙子”元素
  .pages_lr
    width 30px
    img 
      width 30px
      &.active_icon
        cursor pointer
        &:hover
          opacity 0.6
      &.inactive_icon
        cursor not-allowed
  .pages_mid
    flex 1
    padding 0 14px
    .pages_mid_bot
      padding 0 14px
      display: flex
      line-height: 30px
      font-size 14px
      .pages_btn
        height 30px
        width 75px
        color #c1c1c1
        cursor not-allowed
        &.active
          cursor pointer
          color #000
          &:hover
            color blue
      .pages_number
        flex 1
        text-align: center
      